/* mappa.css - GRIGLIA */

.nav-link.active { background-color: #e5e7eb; color: #374151; font-weight: 600; }

.lab-grid {
    display: grid;
    gap: 20px;
    background: #eee;
    padding: 20px;
    border: 2px solid #333;
    margin-top: 20px;
    border-radius: 8px;
}

.grid-item {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    text-align: center;
    padding: 10px;
}
.grid-item:hover { transform: scale(1.05); z-index: 10; }